<% content_for(:title, @medicine.name) %>
<article>
    <header>
        <h2><%= @medicine.name %></h2>
    </header>
    <table>
    <tr>
        <th>Dose:</th>
        <td><%= @medicine.dose %></td>
    </tr>
    <tr>
        <th>RX Number:</th>
        <td><%= @medicine.rx_number %>-<%= @medicine.rx_number2 %></td>
    </tr>
    <tr>
        <th>Drug Type:</th>
            <% @types.each do |type| %>
                <td>
                    <%= type.name %>
                </td>
            <% end %>
    </tr>
    </table>
</article>

<% content_for :side do %>
    <% if current_user %>
        <% if @taken_medicine %>
            <%= link_to 'Remove Medicine', medicine_take_path(@medicine, @taken_medicine),
            method: :delete %>
        <% else %>
            <%= link_to 'Add Medicine', medicine_takes_path(@medicine), method:
            :post %>
        <% end %>
    <% end %>
<% end %>
